
NODE_ENV=development # development, production
PORT=3000

# Authentication
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGIN=

# Database
DB_PROVIDER=sqlite # sqlite, postgres
DATABASE_URL=file:../../local.db

# Discogs API
DISCOGS_KEY=
DISCOGS_SECRET=

# Email
GMAIL_USER=
GMAIL_APP_PASSWORD=
